.content {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: normal;
    font-size: 12px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.item__film {
    border: 1px solid #000;
    padding: 5px;
    background: rgb(242, 242, 242);
    width: 48%;
}

.characters-title,
.episodeId-title,
.openingCrawl-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.openingCrawl {
    text-align: justify;
    display: inline-block;
}

.span {
    display: inline-block;
}